<section id="register-user">


    <div class="container container-fluid">

        <div class="row">

            <div class="col-xs-6">

                <form role="form"
                      ng-submit="vm.createUser()">

                    <div class="form-group">
                        <label for="title">Email</label>
                        <input data-ng-model="vm.email"
                               required
                               id="title"
                               type="text"
                               placeholder="someone@example.com"
                               class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="content">Password</label>
                        <input data-ng-model="vm.password"
                               required
                               id="content"
                               type="password"
                               placeholder=""
                               class="form-control">
                    </div>

                    <div class="form-group">
                        <button id="submit"
                                type="submit"
                                class="btn btn-primary">Register
                        </button>
                        <button id="reset"
                                type="reset"
                                class="btn btn-default">Reset
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</section>
