@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;

}

@mixin active-btn() {
  position:relative;
  top: 1px;
}


@mixin breakpoint($point) {

  @if $point == mobile {
    @media (max-width: 768px) {
      @content
    }
  }

}

